[submodule "dataset"]
	path = dataset
	url = https://github.com/BorysekOndrej/PA193_Security_Certificate_Parser_Dataset.git
[submodule "dataset_dirty"]
	path = dataset_dirty
	url = https://github.com/BorysekOndrej/PA193_Security_Certificate_Parser_Dataset.git
